In [8]:
# package import
from BicycleClass import BicycleAnalysis
import pandas

In [ ]:
# temp package import

# Data Import

In [9]:
bicycle_analysis = BicycleAnalysis()
bicycle_analysis.load_data()

False

In [6]:
bicycle_analysis.df_train_raw

        StateProvinceName CountryRegionName            Education    ...    YearlyIncome AveMonthSpend BikeBuyer
0                 England    United Kingdom           Bachelors     ...           35455            70         1
1        British Columbia            Canada           Bachelors     ...           43980            69         0
2        British Columbia            Canada           Bachelors     ...           57713           102         0
3              California     United States      Graduate Degree    ...           53438            49         0
4              Washington     United States          High School    ...           55291            73         0
5         New South Wales         Australia      Graduate Degree    ...          119901            56         1
6       Seine Saint Denis            France      Partial College    ...           10737            59         0
7                 England    United Kingdom  Partial High School    ...          146872           159         1
8              California     United States      Partial College    ...           49155            62         0
9              California     United States      Graduate Degree    ...          148083            62         0
10             Washington     United States      Partial College    ...          129222           151         1
11        New South Wales         Australia      Graduate Degree    ...          145742           165         1
12             California     United States      Graduate Degree    ...           76970            45         1
13             Washington     United States  Partial High School    ...           65228            45         0
14          Seine (Paris)            France          High School    ...           23147            76         1
15        New South Wales         Australia          High School    ...          129111           145         1
16    Nordrhein-Westfalen           Germany          High School    ...           16453            46         0
17             California     United States      Graduate Degree    ...          112536            80         1
18               Victoria         Australia      Graduate Degree    ...          119533            97         1
19               Victoria         Australia  Partial High School    ...           40888            42         0
20             Washington     United States      Partial College    ...           96088            89         0
21             California     United States      Graduate Degree    ...           97473            74         0
22        New South Wales         Australia          High School    ...           77406            78         0
23             Queensland         Australia           Bachelors     ...          108449            45         0
24                 Oregon     United States      Partial College    ...           82133            46         0
25             California     United States           Bachelors     ...           64071            44         0
26                 Hessen           Germany  Partial High School    ...           81517            60         1
27                England    United Kingdom          High School    ...          168423           146         1
28    Nordrhein-Westfalen           Germany          High School    ...           18776            29         0
29        New South Wales         Australia           Bachelors     ...           84756            54         1
...                   ...               ...                  ...    ...             ...           ...       ...
7655    Seine Saint Denis            France      Graduate Degree    ...           37162            53         0
7656           California     United States      Partial College    ...           82948            50         1
7657             Saarland           Germany          High School    ...           58991            67         1
7658           California     United States          High School    ...           67848            68         0
7659              England    United Kingdom          High School    ...           18410            52         1
7660           Val d'Oise            France           Bachelors     ...           62665            64         0
7661             Victoria         Australia  Partial High School    ...           23524            47         0
7662             Tasmania         Australia          High School    ...           24694            61         0
7663               Oregon     United States          High School    ...           39254            63         0
7664              England    United Kingdom           Bachelors     ...           22362            42         0
7665           California     United States           Bachelors     ...           95978            53         0
7666        Seine (Paris)            France          High School    ...           27622            72         1
7667           California     United States      Graduate Degree    ...          101017            83         0
7668             Saarland           Germany      Partial College    ...          142455           150         1
7669           California     United States           Bachelors     ...          105406            99         0
7670      New South Wales         Australia           Bachelors     ...           24484            40         0
7671           Washington     United States           Bachelors     ...          118037            76         0
7672           California     United States      Partial College    ...           95641            74         0
7673           California     United States           Bachelors     ...           57352            78         1
7674               Hessen           Germany           Bachelors     ...           60194            75         1
7675           Washington     United States      Graduate Degree    ...          111936            87         1
7676           Queensland         Australia           Bachelors     ...          127755            87         0
7677    Seine Saint Denis            France          High School    ...           69911            54         0
7678               Oregon     United States          High School    ...           68169           107         0
7679             Victoria         Australia      Partial College    ...           47035            71         0
7680               Bayern           Germany      Partial College    ...           51903            68         1
7681              England    United Kingdom      Partial College    ...           52622            87         1
7682      South Australia         Australia          High School    ...           50085            73         0
7683               Oregon     United States          High School    ...           50985            69         0
7684               Oregon     United States      Partial College    ...          102378            72         1

[7685 rows x 13 columns]